*.csv
*.log

# vscode
*.vscode
*.code-workspace

# python
*pycache*
*Python*

# results and data analysis
*.png
results
graph

# build files
*.gz
*.deb
*.tgz
*.save

# should we ignore caddy?
caddy

# ignore files with critical info
ips.json
